	

	/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
	font-family: 'Jura', sans-serif;
}
*{	box-sizing: border-box;}
/* Layout for Style Tile*/


.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

html, body {height:100%; margin:0; padding:0;}

/* layout */

/*http://css3gen.com/css3-text-effects/ */
h1{
	border:2px solid #888;
	text-align:center;
	font-family: 'Jura', sans-serif;
color:#616161;

text-shadow:#e0e0e0 1px 1px 0;
border-radius:5px;

}
h2{ border-left:5px solid #BE5A38;
color: #0C8346;
padding:5px;
display:block;
}

.container{
	width: 1000px; 
	margin: auto;
	padding-left: 33px;
	padding-right: 33px;
	background:white;
	min-height: 88%;
padding-bottom: 10px;

box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
padding-top:15px;
border-top:15px solid #555;


}


body{
background-color: #edfaf1;
background-image: url("../img/brushed-alum.png");
	display:inline;
}

/* http://www.cssstickyfooter.com/using-sticky-footer-code.html */
.footer{
border-top:1px solid #555;
position: relative;
	height:7%;
background-color: #0d5d56;
background-image: url("../img/dark-mosaic.png");

clear: both;

}
.footer p{text-align:center;
	color:#BE5A38;
    margin-top:20px;
}





input, textarea{
  display: block;
  margin:.5em 0;
}


input[type="submit"]{
  border-radius:20px;
}
input[type="submit"]:hover{
	color:green;
}
.photoframe{
	border:1px solid black;
    width:20%;
    height:20%;
	float:right;
	margin-top:50px;
}

.header{
	position: relative;
	height: 1.78rem;

	margin-top:1%;
	clear:both;
	display:flex;
}

.nav{
min-width: 700px;
 margin:0 auto;
 align-self:center;
 padding:30px 100px;


}
.container p{padding:5px;

}

p img{
	display:block;
	margin: 5px;
	border: 3px solid #333;
	margin-left:10%;
	border-radius:5px;
}
.nav:first-child::before{
	content:"SB";
	font-size:55px;
	font-family: 'Jura', sans-serif;
	position:absolute;
	font-weight:bold;
	color:#BE5A38;
	 text-shadow: 2px 2px 4px #000000;
	 transform:rotate(-20deg);

}
.nav li:first-child{
	margin-left:40px;
}
.nav li {
	align-self: center;
  list-style: none;
display: inline-block;
}
::selection{
background:tomato;
color:white;
}
.nav li a {

  background: #eee;
  color:#666;
  display: inline-block;
  height:1em;
  line-height: .8em;
  padding:1em;
  font-weight:bold;
  text-decoration: none;
  text-transform: uppercase; 
  border-bottom: .5em black double;
  	font-family: 'Jura', sans-serif;

  border-top:5px solid #555;
  border-top-left-radius: 5px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
    border-right:3px solid #777;
}
/* last frame */
.nav li a:hover{
  background: #555;
  border-bottom: .5em #c23232 double;
  color:white;
	  border-top:4px solid #c23232;
animation: nav .2s linear both;
}


.nav .current> a{
	  background: #666;
	  color:#fff;
	  border-bottom: .5em #BE5A38 double;
	  border-top:4px solid #BE5A38;;
}
.gallery {margin-top:20px;}
.gallery img{padding:5px; 
width: 300px;
    height:200px;
}
.gallery img:hover{
   outline: 1px solid black;
  
}

/* Keyframes */
@keyframes nav {
  0% { 
        transform: scale(1);
  }

    100% {
         transform: scale(1.10);
         
   }
}

@media screen and (max-width:1000px){
	.container{
		width:90%;
	}
	.container *{margin-left:20px;}

}
