	

	/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
	font-family: 'Jura', sans-serif;
}
*{	box-sizing: border-box;}
/* Layout for Style Tile*/


.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

html, body {height:100%; margin:0; padding:0;}

/* layout */

/*http://css3gen.com/css3-text-effects/ */
h1{
	border:2px solid #888;
	text-align:center;
	font-family: 'Jura', sans-serif;
color:#616161;
background-color:#bababa;
text-shadow:#e0e0e0 1px 1px 0;
border-radius:5px;
}
h2{ border-left:5px solid tomato;
color: #3F9BFF;
padding:5px;}

.container{
	width: 1000px; 
	margin: auto;
	padding-left: 33px;
	padding-right: 33px;
	background: #F4F6F8;
	min-height: 88%;
	border:2px solid #555;

box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
padding-top:15px;
border-top:15px solid #555;


}

iframe{margin-top:15px;}
	img{

		width:320px;
	}

	iframe, img{ box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);}
/* http://lea.verou.me/css3patterns/#weave */
body{
	display:inline;
}

/* http://www.cssstickyfooter.com/using-sticky-footer-code.html */
.footer{
border-top:1px solid #555;
position: relative;
	height:7%;
	background: #557591;
clear: both;

}
.footer p{text-align:center;}





input, textarea{
  display: block;
  margin:.5em 0;
}


input[type="submit"]{
  border-radius:20px;
}
input[type="submit"]:hover{
	color:green;
}
.round{
	border-radius:100%;
	margin-left:30%;
	margin-top:50px;
}

.header{
	position: relative;
	height: 1.78rem;
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	margin-top:1%;
	clear:both;
	display:flex;

}

.nav{
min-width: 700px;
 margin:0 auto;
 align-self:center;
 padding:30px 100px;
 border-left:.5em groove tomato;
  border-right:.5em groove tomato;
  border-bottom-left-radius: 4em 5em;;
    border-bottom-right-radius: 4em 5em;
}
.container p{padding:5px;}
p img{
	display:block;
	margin: 5px;
	border: 3px solid #333;
	margin-left:10%;
	border-radius:5px;
}
.nav:first-child::before{
	content:"SB";
	font-size:55px;
	font-family: 'Jura', sans-serif;
	position:absolute;
	font-weight:bold;
	color:tomato;
	 text-shadow: 2px 2px 4px #000000;
	 transform:rotate(-20deg);

}
.nav li:first-child{
	margin-left:40px;
}
.nav li {
	align-self: center;
  list-style: none;
display: inline-block;
}
::selection{
background:tomato;
color:white;
}
.nav li a {
	border:1px solid black;
  background: #eee;
  color:#666;
  display: inline-block;
  height:1em;
  line-height: .8em;
  padding:1em;
  font-weight:bold;
  text-decoration: none;
  text-transform: uppercase; 
  border-bottom: .5em black double;
  	font-family: 'Jura', sans-serif;
  border-top-right-radius: 50%;
  border-top:5px solid #555;
  border-top-left-radius: 5px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
    border-right:3px solid #777;
}
/* last frame */
.nav li a:hover{
  background: #555;
  border-bottom: .5em red double;
  color:white;
	  border-top:4px solid tomato;
animation: nav .2s linear both;
}


.nav .current> a{
	  background: #666;
	  color:#fff;
	border-bottom: .5em red double;
	  border-top:4px solid tomato;
}
	
/* Keyframes */
@keyframes nav {
  0% { 
        transform: scale(1);
  }

    100% {
         transform: scale(1.10);
         
   }
}

@media screen and (max-width:1000px){
	.container{
		width:90%;
	}
	.container *{margin-left:20px;}
}
